@model IEnumerable<KurumsalWeb.Models.Model.Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Posts</h2>

<a class="btn btn-light" href="/Blog/Create/" >Create New Blog Post</a>

<!-- Table with stripped rows -->
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Categorie</th>
            <th scope="col">Title</th>
            <th scope="col">Image</th>
            <th scope="col">Process</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BlogId</td>
                <td>@item.Categorie.CategorieName</td>
                <td>@item.BlogTitle</td>
                <td>@item.BlogImageURL</td>
                <td><a>Update</a>| <a>Delete</a></td>
            </tr>
        }
        
        
    </tbody>
</table>
<!-- End Table with stripped rows -->
